//Variables

$website-width: 1200px;
$bg-main: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
  url('../img/showcase.jpg') center center / cover;

$font: 'Tahoma', sans-serif;
$btn-border-color: #e67e22;
$primary-color: #e67e22;
$light-color: #f4f4f4;
$medium-color: #a7a7a7;
$dark-color: #333;
$submit-button: #56c45f;
$submit-button-hover: #4caf55;
