.container {
  max-width: $website-width;
  margin: auto;
  padding: 0 1rem;
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  direction: rtl;
}

h1 {
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 1rem;
}
h4 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.lead {
  font-size: 1rem;
  line-height: 1.6;
  direction: rtl;
  margin-bottom: 2rem;
  text-align: center;
}

label {
  display: block;
  direction: rtl;
  padding: 0.5rem 0;
}
input,
textarea {
  display: block;
  direction: rtl;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}

.bg-light {
  background: $light-color;
}

.bg-white {
  background: #fff;
}
.bottom-line {
  height: 2px;
  background: $primary-color;
  margin: 1rem auto;
  width: 8rem;
}

%btn-shared {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  padding: 0.75rem 1.5rem;
  margin-left: 0.75rem;
  border: none;
}

.btn {
  &-nav {
    @extend %btn-shared;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;

    &:hover {
      border-bottom: 2px solid $btn-border-color;
    }
  }

  &-primary {
    @extend %btn-shared;
    background: $primary-color;
    border-radius: 5px;
    transition: background 1s;
  }
  &-primary:hover {
    background: #b86215;
  }
}
