@import 'config';
@import 'utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
}

#main-header {
  background: $bg-main;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
  padding: 1rem;

  #main-nav {
    .nav-bar {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;

      ul {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        padding: 0 1rem;

        li {
          text-align: center;
        }
      }
    }
  }

  #showcase-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
  }
}

#services {
  h2 {
    text-align: center;
  }
  p {
    padding: 0 0.75rem;
  }
  .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1rem;

    .card {
      justify-content: center;
      align-items: center;
      text-align: center;

      h3 {
        font-weight: bold;
      }

      img {
        display: block;
        margin: 0.5rem auto;
        width: 50px;
      }
    }
  }
  .logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem auto;

    i {
      color: $medium-color;
      padding: 2rem;
      transition: all 1s;

      &:hover {
        color: $primary-color;
        transform: scale(1.2);
      }
    }
  }
}

#about {
  #about-progress {
    padding: 0 2rem;
    h4 {
      direction: ltr;
      text-align: left;
    }
    .progress {
      direction: ltr;
      overflow: hidden;
      height: 20px;
      background: #ccc;
      border-radius: 5px;
      margin-bottom: 0.6rem;
      div {
        height: 100%;
        color: #fff;
        text-align: center;
        background: $primary-color;
      }
    }
  }
}

#contact {
  background: $light-color;
  .contact-form {
    direction: rtl;

    .required {
      color: red;
      font-size: 0.8rem;
    }
    input,
    textarea {
      font-family: $font;
      line-height: 1.5;
      width: 100%;
      border-radius: 5px;
      border: none;
      padding: 0.5rem;
      margin-bottom: 1rem;
    }
    textarea {
      margin-bottom: 2rem;
    }

    input[type='submit'] {
      background: $submit-button;
      font-size: 1.1rem;
      color: #fff;
      transition: all 1s;
      cursor: pointer;
    }
    input[type='submit']:hover {
      background-color: $submit-button-hover;
    }
  }
}

#main-footer {
  padding: 2rem 0;
  text-align: center;
  background: $dark-color;
  color: #fff;
  p {
    font-size: 0.9rem;
    margin: 0;
  }
}

@import 'media';
